__pycache__/
*.pyc
*.pyo
*.pyd
*.db
*.sqlite3
*.log
*.pot
*.mo
*.env
.env.*
venv/
ENV/
env/
.venv/
.idea/
.vscode/
.git/
.gitignore
.DS_Store
*.egg-info/
dist/
build/
*.egg
*.bak
*.swp
*.tmp
*.out
coverage/
htmlcov/
.tox/
.mypy_cache/
.pytest_cache/
.cache/
node_modules/

# Docker specific
Dockerfile*
docker-compose*
